body {
    display: flex;
    justify-content: center;
    align-items: center;
}

.calculator {
    display: flex;
    flex-direction: column;
    border: 2px solid fuchsia;
}

.screen {
    display: flex;
    align-items: center;
    justify-content: center;
    border: 5px ridge yellowgreen;
}

.keypad {
    display: flex;
    flex-direction: column;
    border: 5px double blueviolet;
}

#division, #multiplication, #subtraction, #addition, #six, #seven, #eight,
#nine, #two, #three, #four, #five, #zero, #one, #dot, #equals, #clear,
#backspace {
    display: flex;
    border: 1px solid brown;
    flex: 1 0 0;
    justify-content: center;
    align-items: center;
    background-color: darksalmon;
}

@media only screen and (max-width: 320px) {
    .calculator {
        width: 90%;
        height: 400px;
    }

    .screen {
        height: 60px;
        margin: 3px;
    }

    .keypad {
        height: 340px;
        margin: 3px;
    }

    #division, #multiplication, #subtraction, #addition, #six, #seven, #eight,
    #nine, #two, #three, #four, #five, #zero, #one, #dot, #equals, #clear, 
    #backspace {
        height: 60px;
        margin: 2px;
        font-size: 20px;
    }
}

@media only screen and (min-width: 321px) and (max-width: 375px) {
    .calculator {
        width: 90%;
        height: 450px;
    }

    .screen {
        height: 65px;
        margin: 3px;
    }

    .keypad {
        height: 390px;
        margin: 3px;
    }

    #division, #multiplication, #subtraction, #addition, #six, #seven, #eight,
    #nine, #two, #three, #four, #five, #zero, #one, #dot, #equals, #clear, 
    #backspace {
        height: 70px;
        margin: 2px;
        font-size: 23px;
    }
}

@media only screen and (min-width: 376px) and (max-width: 425px) {
    .calculator {
        width: 90%;
        height: 500px;
    }

    .screen {
        height: 70px;
        margin: 3px;
    }

    .keypad {
        height: 440px;
        margin: 3px;
    }

    #division, #multiplication, #subtraction, #addition, #six, #seven, #eight,
    #nine, #two, #three, #four, #five, #zero, #one, #dot, #equals, #clear, 
    #backspace {
        height: 80px;
        margin: 2px;
        font-size: 25px;
    }
}

@media only screen and (min-width: 426px) and (max-width: 768px) {
    .calculator {
        width: 60%;
        height: 550px;
    }

    .screen {
        height: 75px;
        margin: 3px;
    }

    .keypad {
        height: 475px;
        margin: 3px;
    }

    #division, #multiplication, #subtraction, #addition, #six, #seven, #eight,
    #nine, #two, #three, #four, #five, #zero, #one, #dot, #equals, #clear, 
    #backspace {
        height: 90px;
        margin: 2px;
        font-size: 25px;
    }
}

.first-row, .second-row, .third-row, .fourth-row, .fifth-row {
    display: flex;
    justify-content: space-between;
}